/* @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400&display=swap'); */
body {
  margin: 0;
  font-family: 'Roboto Slab', serif;
}
.wrapper {
  width: 800px;
  margin: 0 auto;
}
img {
  display: block;
  margin-bottom: 16px;
}
.button {
  margin-bottom: 16px;
  padding: 4px 8px;
}
.head {
  color: #fff;
  margin: 0;
  padding: 8px 16px;
  background-color: green;
}
.head--main {
  background-color: red;
}
