/* @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400&display=swap'); */
body {
  margin: 0;
  font-family: 'Roboto Slab', serif;
}
.wrapper {
  width: 900px;
  margin: 0 auto;
  padding: 16px;
}

/* Форма */
form {
  max-width: 400px;
  display: flex;
  flex-direction: column;
}
input, textarea {
  padding: 8px;
  margin-bottom: 16px;
}
.buttons {
  display: flex;
}
button {
  margin-right: 8px;
  padding: 8px 16px;
}
